{% include 'sitio/header.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Formulario de registro</h5>
                <div class="card-body">
                  <form action="sitio/guardar" method="post">
                    <div class="mb-3">
                      <label for="" class="form-label">Codigo</label>
                      <input type="number" class="form-control" name="codigo" placeholder="Codigo del equipo" readonly>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Descripcion</label>
                      <input type="text" class="form-control" name="descripcion" placeholder="Descripcion de equipo" required>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Email del responsable</label>
                      <input type="email" class="form-control" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </form>
                </div>
            </div>
        </div>
        <!--==========!-->
        <div class="col-md-8">Table

        </div>
    </div>
   
</div>

{% include 'sitio/footer.html' %}

